@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	box-sizing: border-box;
}
body {
	margin: 30px 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: #edf4f3;
}
h1 {
	font-size: 35px;
} 